.overlay {
  position: fixed;
  z-index: 10000;
}

.yellow {
  color: white;
}


/* https://www.w3schools.com/cssref/pr_class_position.asp */
.planets {
  position: absolute;
  top: 148%;
  width: 100%;
}

/* https://www.w3schools.com/cssref/pr_font_font-size.asp*/
p {
  color: Silver;
}

button {
  background-color: DarkKhaki;
  color: Black;
}

input {
  background-color: DarkKhaki;
}

.border {
  border: 3px solid DarkKhaki;
}

.sources {
  font-size: 11px;
}